<section id="links">
  <h3>
  <span id="game-number"><%= @context.game.try(:game_number) %></span>
  Links
  </h3>
  <ul id="game-link-list">
    <%= render "nhl_links" %>
    <%= render "hockey_viz_links" %>
    <%= render "corsica_links" %>
    <%= render "behind_the_net_links" %>
    <%= render "hockey_stats_links" %>
    <%= render "natural_stat_trick_links" %>
    <%= render "nullisecund_links" %>
    <%= render "hockey_reference_links" %>
    <%= render "cap_friendly_links" %>
    <%= render "sportrac_links" %>
    <%= render "nhl_numbers_links" %>
    <%= render "puckbase_links" %>
    <%= render "hockey_abstract_links" %>
    <%= render "sporting_charts_links" %>
    <%= render "rink_stats_links" %>
    <%= render "dobber_hockey_links" %>
    <%= render "quant_hockey_links" %>
  </ul>
</section>
