<section id="games">
  <h3>
    <a href="<%= @game_presenter.order_href %>" class="sort">
      Sort
      <div class="<%= @game_presenter.order_class %>"></div>
    </a>
    Games
  </h3>
  <div class="list-wrapper">
    <ol id="game-list">
    <% @game_presenter.links \
      .zip(@game_presenter.dates,
           @game_presenter.li_classes) \
      .each do |link, date, li_class| %>
      <h4>
        <%= date %>
      </h4>
      <li <%= li_class %>>
        <%= link %>
      </li>
    <% end %>
    </ol>
  </div>
</section>
