<% cache(@context.cache_key) do %>
<div id="main">
  <div class="column">
    <%= render "teams" %>
    <%= render "external_misc_links" %>
  </div>

  <div class="column">
    <%= render "seasons" %>
    <%= render "external_season_links" %>
  </div>

  <div class="column">
    <%= render "games" %>
    <%= render "external_game_links" %>
  </div>
</div>
<% end %>
