<div class="column">
  <%= render "seasons" %>
  <%= render "teams" %>
</div>

<div class="column">
  <%= render "games" %>
</div>

<div class="column">
  <%= render "external_season_links" %>
  <%= render "external_game_links" %>
</div>
