<section>
	<h3>Nice Time on Ice API Browser</h3>
	<p>
		This site includes a REST API (<strong>RE</strong>presentational <strong>S</strong>tate <strong>T</strong>ransfer <strong>A</strong>pplication <strong>P</strong>rogramming <strong>I</strong>nterface). 
		This API includes resources for seasons, games, teams, and links. Resources can be accessed using the appropriate identifiers. Query string parameters are available to filter the returned data. 
		
	</p>
	<p>
		The API uses <a href="http://www.sinatrarb.com/" target="new">Sinatra</a> for routing and <a href="http://datamapper.org/" target="new">DataMapper</a> for an Object Relational Mapper.
		Season, game, and team data was scraped from the <a href="http://www.nhl.com/ice/schedulebyseason.htm" target="new">NHL.com schedule page</a> via a Python script and <a href="http://www.crummy.com/software/BeautifulSoup/" target="new">Beautiful Soup</a>.
	</p>
	<p>
		Click on a URL below to expand it and reveal the available input parameters. Click the button to send a GET HTTP Request to the API. The returned JSON data will populate a text box below the button. 
	</p>
</section>
<section>
	<div class="loadMask"><div class="activityIndicator"></div></div>
	<ul>
		<% @APIResources.each do |resource| %>
			<li>
				<h3><%= resource.path  %></h3>
				<p><%= resource.description %></p>
				<form class="input">
					<% resource.inputs.zip(resource.inputDescriptions).each_with_index() do |(input, inputDesc), index| %>
						<% if index == 0 &&  index != resource.queryStringStartIndex %>
							<p><strong>Resource Identifiers (required):</strong></p>
						<% end %>
						<% if index == resource.queryStringStartIndex %>
							<p><strong>Query String Parameters (optional):</strong></p>
						<% end %>
						<div class="inputLabel"><%= input %>:</div> 
						<input type="text" placeholder="<%= inputDesc %>">
						<br />	
					<% end %>
					<input type="button" value=" GET " onclick="javascript:makeAPICall(this, '<%= resource.path %>?<%= resource.queryString %>')"></input>
				</form>
				<form class="output">
					<textarea></textarea>
				</form>
			</li>
		<% end %>
	</ul>
</section>