<!DOCTYPE html>
<html lang="en">
<head>
  <title>Nice Time On Ice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-144.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144.png">
  <meta charset="utf8">
  <!--[if lte IE 9]>
  <%= stylesheet_link_tag 'ie' %>
  <![endif]-->
  <!--[if lte IE 8]>
  <%= javascript_include_tag 'ie' %>
  <![endif]-->
</head>
<body>

<header>
  <a href="/">
    <h1>Nice Time on Ice</h1>
    <h2>Mashup of NHL Game Links</h2>
  </a>
</header>

<article role="main">
<%= yield %>
</article>

<footer>
  <section>
    <p>
      Copyright &copy; 2012 - <%=Time.now.year%> <a href="mailto:laichitor.lumpit@gmail.com">Jeremy Stuckey</a>
    </p>
    <p>
      Source code available on <a href="https://github.com/jstuckey/Nice-Time-on-Ice" target="new">GitHub</a>
    </p>
    <p>
      <a href="/api">Nice Time on Ice REST API</a>
    </p>
  </section>
  <section>
    <p>
      <a href="http://www.flickr.com/photos/aepoc/6977401165/" target = "new">Background image</a> by jason.kessenich (<a href="http://www.aepoc.com" target="new">www.aepoc.com</a>)
    </p>
    <p>
      <a href="https://en.wikipedia.org/wiki/File:NHL_Hockey_Rink.svg" target="new">Rink image</a> by <a href="https://en.wikipedia.org/wiki/User:Completefailure" target="new">Completefailure</a>
    </p>
    <p>
      <a href="https://www.google.com/webfonts/specimen/Michroma" target="new">Michroma font</a> by <a href="https://plus.google.com/107807505287232434305/about" target="new">Vernon Adams</a>
    </p>
  </section>
  <section>
    <h1>Dearly Departed</h1>
    <ul>
      <li>Time on Ice</li>
      <li>Extra Skater</li>
      <li>Cap Geek</li>
      <li>MC79 Hockey</li>
    </ul>
  </section>
  <section>
    <a href="http://www.sbnation.com/users/Laich%20It%20Or%20Lump%20It" target="new"><%= image_tag("avatar.jpg") %></a>
  </section>
</footer>

</body>
</html>
